<%= form_for job do |f| %>
<% if job.errors.any? %>
    <div id="error_explanataion">
        <h2> <%= pluralize(job.errors.count, "error") %>
        There were some errors that prohibited this post from being saved: 
        </h2>
        <ul>
            <% job.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :name %>

    <br><br><br>

    <%= f.label :agency_id %>
    <%= f.collection_select :agency_id, Agency.all, :id, :name %>

    <br><br><br>

    <div class="field<%=' field_with_errors' if job.errors[:title].any?%>">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>

    <br><br>
    
    <div class="field<%=' field_with_errors' if job.errors[:employer].any?%>">
    <%= f.label :employer %>
    <%= f.text_field :employer %>
    </div>
    <br><br>

    <%= f.label :location %>
    <%= f.text_field :location %>
    <br><br>
    
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br><br>

    <%= f.label :release_date %>
    <%= f.date_field :release_date %>
    <br><br>

    <%= f.label :job_type %>
    <%= f.text_field :job_type %>
    <br><br>

    <%= f.submit "Submit" %>

<% end %>