<h3>Create Job Post</h3>
<%= form_for @job do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <br><br>

    <%= f.label :employer %>
    <%= f.text_field :employer %>
    <br><br>

    <%= f.label :location %>
    <%= f.text_field :location %>
    <br><br>

    <%= f.label :description %>
    <%= f.text_field :description %>
    <br><br>

    <%= f.label :release_date %>
    <%= f.text_field :release_date %>
    <br><br>

    <%= f.label :job_type %>
    <%= f.text_field :job_type %>
    <br><br>

    <%= f.submit "Create Job Post" %>

<% end %>