<% if current_user.admin %>
<h3>Add a new Job</h3>
<%= link_to "Post a new Job", new_job_path %>
<% end %>
<h3>Available Job Listings</h3>

<%= form_tag(jobs_path, method: :get) do %>
    <%= text_field_tag "query" %>
    <%= submit_tag "Search" %>
<% end %>

<ul>
<% @jobs.each do |j| %>
    <li><%= j.title %></li>
    <li><%= j.employer %></li>
    <li><%= j.location %></li>
    <li><%= j.description %></li>
    <li><%= j.release_date %></li>
    <li><%= j.job_type %></li>
    <br>
<% end %>
</ul>

<h3>We also have some amazing staffing companies that are here to help to!</h3>
<ul>
    <% @agency.each do |a| %>
        <li><%= a.name %></li>
    <% end %>
</ul>
<br><br>

<% if current_user %>
    <%= link_to "Home Page", '/' %>
<% end %>
