<h3>Add a new Job</h3>
<%= link_to "Post a new Job", new_job_path %>
<h3>Available Job Listings</h3>
<ul>
<% @jobs.each do |j| %>
    <li><%= j.title %></li>
    <li><%= j.employer %></li>
    <li><%= j.location %></li>
    <li><%= j.description %></li>
    <li><%= j.release_date %></li>
    <li><%= j.job_type %></li>
    <br>
<% end %>
</ul>