<%= form_for @user do |f| %>
    <div class="form-group">
    <% if @user.errors.any? %>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>

    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>

    <%= f.label :bio %>
    <%= f.text_field :bio %>
    <br>

    <%= f.submit "Sign Up"%>
<% end %>
</div>