<p><%= @user.name %></p>

<h3>Your Job Postings</h3>

<ul>
<% current_user.jobs.each do |j| %>
    <li><%= j.title %></li>
    <li><%= j.employer %></li>
    <li><%= j.location %></li>
    <li><%= j.description %></li>
    <li><%= j.release_date %></li>
    <li><%= j.job_type %></li>

    <%= link_to "Edit Job Post", edit_job_path(j) %>
    <br>
    <br>
<% end %>
</ul>