<!DOCTYPE html>
<html>
  <head>
    <title>JobApplicationBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <h1>Hello</h1>
  <div class="navbar" role="navigation">
  <%= link_to "Sign In", signin_path %>
  <%= link_to "Sign Up", signup_path %>
  </div>
    <%= yield %>
  </body>
</html>
